<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
        default-lazy-init="true">
        
	<description>EPS示例配置 </description>
	
	<!-- 数据源配置, 使用Tomcat JDBC连接池  -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="maxActive" value="20"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="10"/>
        <property name="maxWait" value="120000"/>
        <property name="testWhileIdle" value="true"/> 
        <property name="validationQuery" value="select 1"/> 
    </bean>
	
	<!-- EOS 所需 jdbc组件 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	        <property name="dataSource" ref="dataSource"></property>
	</bean>
	    
	<!--使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	    
	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	        <property name="dataSource" ref="dataSource"/>
	 </bean>
	
	<!--&lt;!&ndash;加签配置 &ndash;&gt;
	<bean id="authSDKClient" class="com.yonyou.cloud.auth.sdk.client.AuthSDKClient">
		<constructor-arg name="accessKey" value="${access.key}" />  
		<constructor-arg name="accessSecret" value="${access.secret}" />  
	</bean>
	    
	&lt;!&ndash;eos组件配置综合 &ndash;&gt;
	<bean id="eosConfig" class="com.yonyou.cloud.config.eos.EOSConfig">
    	<property name="jdbcTemplate" ref="jdbcTemplate"/>
    	<property name="transactionManager" ref="transactionManager"/>
    	<property name="authSDKClient" ref="authSDKClient"/>
	</bean>-->
	
</beans>